*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#map{
  height: 500px;
  width: 100%;
  background: #ddd;
  border-radius: 1.5rem;
}

.pai{
  display: flex;
}

.mapa{
  width: 30%;
  height: 200px;
}


.box{
  width: 100%;
}



.botao-topo{
  border-radius: 1rem;
  box-shadow: 5px 5px 15px 0px  rgba(44,44,44,0.15);
  border: 1px solid #f3f3f3;
  background-color: #fff;
}

.sidenav a{
  color:#182857;
  font-weight: 600;
}

.sidenav a:hover{
  background: #DFE1F2;
  text-decoration:none;
  transition: .1s ease-out;
}

.caixa_botoes{
  border: 1px solid #f3f3f3;
  border-radius: 1.5rem;
  background-color:#182857;
}

.botao-topo::hover, :active, link{
  background-color: #182857;
  color:#fff;
}

.links{
  color:#182857;
}

.icon_agencia{
  border-radius: 1rem;
  width: 80px;
}

.pai{
  width: 100%;
  height: 100%;
}

body{
  background-color: #fff;
}

.pesquisa{
  background-color: #fff;
  border-radius: 2rem;
}

.blog-post-preco{
  font-size: 1.5rem;
}

.estrela{
 color: #CE5D2F;
}

h2{
 color:#182857;
}

h3{
 color:#182857;
}


h1{
 color: #182857;
}

                            
.blog-post-text{
 margin-bottom: 0.5rem;
 font-size: 1rem;
 color:#4D5153;
}



.circulo{
 border-radius: 20%;
 background-color: #EDF0F2;
 color:#4D5153;
 font-size: 1.1em;
 cursor: pointer;
}

.botao{
 background-color:#CE5D2F;
 color: #fff;
 margin-bottom: 20px;
 border-radius: 0.5rem;
 font-weight: 600;
}

.linha-rodape{
 background-color:#EDF0F2;
}

.btn_oferta{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color:#fff;
 color: #CE5D2F;
 border-radius: 0.5rem;
 font-weight: 600;
 border: 2px solid #CE5D2F;
}

.btn_oferta:hover{
  background-color:#CE5D2F;
  color: #fff;
}


.card-horizontal{
 border: 1px solid #DADCE0;
 border-radius: 2rem;
 background-color: #fff;
}

li{
 list-style: none;
}

img{
 display: block;
}
.card-espaco{
 border-radius:1.5rem;
}

.img-card{
 border-radius:50%;
 width: 7rem;
 margin:auto;
 justify-content: center;
 display: flex;
}

.curtir{
 font-size: 1.5rem;
}


.mapa{
 width: 30%;
}

@media (max-width:1440px){
 .busca_btn{
     width: 100%;
     font-size: 1.2em;

}

@media(max-width: 1000px) {
 .mapa {
      display: none;
  }
  .box{
      width: 100%;
  }
}
}         